body {
    background: url(../img/team_logo_dark_01.png) no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.input-group {
    margin-top: 10px;
}

.body-content {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#imageBox {
    margin-top: 5px;
    min-height: 402px;
}

ul {
    background-color: rgba(0, 0, 0, 0.5);
}

.select2-results__option[aria-selected=true] {
    background-color: azure;
    color: darkblue;
}