body {
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.input-group {
    margin-top: 10px;
}

.body-content {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#imageBox {
    margin-top: 5px;
    min-height: 402px;
}
